[submodule "docs/technical-specification/technical-specification-3"]
	path = docs/technical-specification/technical-specification-3
	url = https://github.com/krevetka-is-afk/technical-specification-3.git
