DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me-in-project
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
ALGOLIA_APPLICATION_ID=change-me-in-project
ALGOLIA_API_KEY=change-me-in-project
ALGOLIA_INDEX_PREFIX=SERJ
DATABASE_URL=sqlite:///db.sqlite3
