ML_SERVICE_TIMEOUT=2.5
OUTBOX_BASE_URL=http://web:8000
OUTBOX_CONSUMER=ml
OUTBOX_AUTH_HEADER=
OUTBOX_TIMEOUT_SEC=10
OUTBOX_BATCH_SIZE=100
OUTBOX_POLL_INTERVAL_SEC=5
ML_ENABLE_BACKGROUND_POLLER=false
ML_INDEX_STATE_PATH=/app/data/ml-index.json
